<div id="ctn-barra-top">
  <div id="barra-top">
    <div id="barra-top-s1">
      <div id="panel-usuario-login" style="float: left;">

      </div>
      <div style="float: left; margin: 1px 5px 0px 0px;" id="panel-usuario-foto"></div>
      <div style="float: left; margin: 4px 4px 0px 5px; padding-top: 5px;" id="panel-usuario-nombre"></div>
      <div id="sessionStars" title="Estrellas acumuladas" style="float: left; font-weight: bold; padding-top: 5px;"></div>

    </div>
    <div id="barra-top-s2">
      <div class="ctn-btnPublicar"><a title="Publicar en tu facebook" href="javascript:void(0);" class="btnPublicar"
          onclick="javascript: void(0)"></a></div>
      <div class="ctn-btnEnviarAmigo"><a title="Enviar a tus amigos" href="javascript:void(0);" class="btnEnviarAmigo"
          onclick="javascript: void(0)"></a></div>
      <div class="ctn-like-fb">


      </div>

      <div class="ctn-btnPublicar_movil"><a title="Publicar en tu facebook" href="javascript:void(0);" class="btnPublicar_movil"
          onclick="onPostear( &#39;http://www.musicafusion.com&#39; ); return false;"></a></div>
      <div class="ctn-btnEnviarAmigo_movil"><a title="Enviar a tus amigos" href="javascript:void(0);" class="btnEnviarAmigo_movil"
          onclick="onSend( &#39;http://www.musicafusion.com&#39; ); return false;"></a></div>
      <div class="ctn-like-fb_movil">

      </div>

    </div>
  </div>
</div>

<div id="contenedor-principal">
  <!-- INICIO-CONTENEDOR_PRINCIPAL - WRAPPER -->
  <app-header ></app-header>
  <app-menu></app-menu>
  <app-content>
    <router-outlet></router-outlet>
  </app-content>
  <!-- FIN-CONTENEDOR_BODYPANEL -->
  <!-- end content-wrapper -->
  <div style="clear:both;"></div>

  <app-footer></app-footer>
</div><!-- FIN-CONTENEDOR_PRINCIPAL -->