<footer> <!-- INICIO-PANEL_FOOTERINF -->
         

  <div id="footer-new">
  <div id="logo-footer">
  <a href="http://www.musicafusion.com/">
  <img src="./assets/Logo_Grises.png" alt="Millones de Letras de canciones y videos">
  </a>			
  </div>
  <div id="ctn-abcdario-footer">
  <h3>ARTISTAS</h3><br><br>
  <div id="abcdario-footer">
  <a href="http://www.musicafusion.com/artistas-letra-a.html">A</a>
  <a href="http://www.musicafusion.com/artistas-letra-b.html">B</a>
  <a href="http://www.musicafusion.com/artistas-letra-c.html">C</a>
  <a href="http://www.musicafusion.com/artistas-letra-d.html">D</a>
  <a href="http://www.musicafusion.com/artistas-letra-e.html">E</a>
  <a href="http://www.musicafusion.com/artistas-letra-f.html">F</a>
  <a href="http://www.musicafusion.com/artistas-letra-g.html">G</a>
  <a href="http://www.musicafusion.com/artistas-letra-h.html">H</a>
  <a href="http://www.musicafusion.com/artistas-letra-i.html">I</a>
  <a href="http://www.musicafusion.com/artistas-letra-j.html">J</a>
  <a href="http://www.musicafusion.com/artistas-letra-k.html">K</a>
  <a href="http://www.musicafusion.com/artistas-letra-l.html">L</a>
  <a href="http://www.musicafusion.com/artistas-letra-m.html">M</a>
  <a href="http://www.musicafusion.com/artistas-letra-n.html">N</a>
  <a href="http://www.musicafusion.com/artistas-letra-o.html">O</a>
  <a href="http://www.musicafusion.com/artistas-letra-p.html">P</a>
  <a href="http://www.musicafusion.com/artistas-letra-q.html">Q</a>
  <a href="http://www.musicafusion.com/artistas-letra-r.html">R</a>
  <a href="http://www.musicafusion.com/artistas-letra-s.html">S</a>
  <a href="http://www.musicafusion.com/artistas-letra-t.html">T</a>
  <a href="http://www.musicafusion.com/artistas-letra-u.html">U</a>
  <a href="http://www.musicafusion.com/artistas-letra-v.html">V</a>
  <a href="http://www.musicafusion.com/artistas-letra-w.html">W</a>
  <a href="http://www.musicafusion.com/artistas-letra-x.html">X</a>
  <a href="http://www.musicafusion.com/artistas-letra-y.html">Y</a>
  <a href="http://www.musicafusion.com/artistas-letra-z.html">Z</a>
  
  </div>
  </div>
  <div id="categorias-footer">
  <h3>CATEGORÍAS</h3><br><br>
  
  </div>
  <div id="menu-footer">
  <h3>ENLACES</h3><br><br>
  <a href="http://www.musicafusion.com/buscar-artistas.html" title="Buscar artistas">Artistas</a>
  <a href="http://www.musicafusion.com/buscar-canciones.html" title="Buscar canciones">Canciones</a>
  <a href="http://www.musicafusion.com/buscar-fotos.html" title="Buscar fotos de artistas">Fotos</a>
  <a href="http://www.musicafusion.com/buscar-videos.html" title="Buscar videos de artistas">Videos</a>
  <a href="http://www.musicafusion.com/top-ranking-artistas.html" title="Ranking Artistas Top">Artistas Top</a>
  <a href="http://www.musicafusion.com/top-ranking-canciones.html" title="Ranking Canciones Top">Canciones Top</a>
  
  <a href="http://www.musicafusion.com/pide-tu-cancion.html" title="Pide tu canción">Pide tu canción</a>
  
  
  </div>
  <div class="clear"></div>	
  <br>
  <div id="ctn-enlaces-footer">
  <div id="privacidad-footer">
  <a href="http://www.musicafusion.com/privacidad.html">Privacidad</a> | <a href="http://www.musicafusion.com/sobre-copyright.html">Notas Copyright</a> | <a href="http://www.musicafusion.com/contactos.html" title="Contáctanos">Contáctanos</a>
  </div>
  <div id="derechos-footer">
  © Copyright 2012-2018 MusicaFusion.com
  </div>
  </div>
  
  <!-- Google Cloud - developed by JcFR - Juan Cesar Farro | Adrian M. -->
  </div>
  
  
  
      </footer><!-- FIN-PANEL_FOOTERINF -->